<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/output.css' />
</head>

<body class="min-h-screen flex flex-col">

  <header class="bg-blue-600 text-white p-4">
    <div class="mx-auto flex flex-wrap items-center">
      <a href="/">
        <h1 class="text-xl font-bold flex-none">Moja Express Aplikacija</h1>
      </a>
    </div>
  </div>
</header>
